ffmpeg/.vs
ffmpeg/QLabelPlayVideo2/x64
ffmpeg/QOpenGLPlayVideo/x64
ffmpeg/GLPlayYUV/x64
ffmpeg/PlaySocketVideo/x64
ffmpeg/Remuxing/x64
ffmpeg/SaveVideo/x64
ffmpeg/RTSP_Server/x64
ffmpeg/RTSP_Client/x64
ffmpeg/RtpLibrary/x64
ffmpeg/x64/Debug/*.ilk
ffmpeg/x64/Debug/*.pdb

ffmpeg2/.vs
ffmpeg2/Decode/x64
ffmpeg2/open/x64
ffmpeg2/YUV/x64
ffmpeg2/x64/Debug/*.ilk
ffmpeg2/x64/Debug/*.pdb

ffmpeg_audio/Bluetooth/build-Bluetooth-5_15_MSVC-Debug/
ffmpeg_audio/Bluetooth/build-Bluetooth-Desktop_Qt_5_15_0_MSVC2019_64bit-Debug/
ffmpeg_audio/Bluetooth/debug/
ffmpeg_audio/Bluetooth/release/
ffmpeg_audio/Bluetooth/.qtc_clangd
ffmpeg_audio/Bluetooth/Makefile
ffmpeg_audio/Bluetooth/Makefile.Debug
ffmpeg_audio/Bluetooth/Makefile.Release